@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E9CEFF;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
}

header div h1 {
    margin-left: 10vw;
    font-size: 40px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div input, header div button{
    font-family: "Poppins";

    background-color: rgba(255, 255, 255, 0);
    margin: 16px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;

}
header div input{
    border-bottom: 2px solid black;
}


header div button:hover{
    background-color: black;
    color: white;
    transition: all 0.2s ease-in;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87vh;
}
/* -------------------------------- SECCION TABLERO --------------------------------*/
/* Debe estar en none al inicio.*/
#board{
    display: none;
    gap: 7px;
    grid-template-columns: 50px 50px 50px 50px 50px;
}

#beginendbox {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #FFDD63;
}

.box{
    position: relative;
    background-color: #FFDD63;
    box-shadow: 2px 4px 4px 0px #00000023;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

#nextTurn {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    font-size: 22px;
    color: #1b1b1b;
}

#dice {
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 15px;
    background-color: #8a49f2;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins";
    border: none;
    border-radius: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#dice:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #1fb640;
}

/* -------------------------------- SECCION QUESTION MODAL -------------------------------- */
#questionModal{
    transition: all .2s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #AD86FF;
    box-shadow:  5px 10px 20px #4343432d;
    border-radius: 70px;
    width: 70vw;
    height: 50vh;
    position: absolute;
    display:none;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#questionForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.question-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 20vh;
    padding: 10px;
}

.question-Container h3{
    color: white;
    font-size: 24px;
}

.answer-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.answer-Container button {
    font-family: "Poppins";
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin: 7px;
    width: 80%;
    list-style: none;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}

.answer-Container button:hover {
    background-color: #e2e2e2;
    color: rgb(29, 4, 4);
    transition: all 0.2s ease-in;
}
.answer-Container button:hover {
    background-color: #e2e2e2;
    color: rgb(29, 4, 4);
    transition: all 0.2s ease-in;
}

.answer-Container button:disabled, button[disabled]{
    cursor: initial;
    background-color: #cccccc;
    color: #7d7d7d;
}


/* -------------------------------- SECCION LOGIN -------------------------------- */

/*   Seccion del FORM     */
#logInContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
}

#logInContainer form .formContainer{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*      Seccion TYPE YOUR NAME      */
#logInContainer form .formContainer label{
    padding: 15px;
    font-size: 30px;
    font-weight: bolder;
}

#logInContainer form .formContainer #inputForm input{
        padding: 10px 30px;
        font-size: 20px;
        border: none;
        background-color: #00000000;
        border-bottom: 3px solid black;
        text-align: center;
}

/*      Seccion PICK A COLOR        */
#logInContainer form .formContainer .buttonsContainer button{
    padding: 10px;
    border: none;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 1px 3px 6px 3px #3f3f3f34;
}

#logInContainer form .formContainer .buttonsContainer button:hover{
    cursor: pointer;
}
/*   Seccion de colores en los botones del FORM   */
#logInContainer form .formContainer .buttonsContainer #colorPink{
    background-color: #FF64AE;
}

#logInContainer form .formContainer .buttonsContainer #colorBlue{
    background-color: #3632DB;
}
#logInContainer form .formContainer .buttonsContainer #colorGreen{
    background-color: #6ADA42;
}
#logInContainer form .formContainer .buttonsContainer #colorWhite{
    background-color: #FFFFFF;
}
#logInContainer form .formContainer .buttonsContainer #colorPurple{
    background-color: #8a49f2;
}

/*      Seccion del button START      */

#logInContainer form #startGameButtons button {
    background-color: #8a49f2;
    margin: 15px;
    font-size: 20px;
    padding: 8px 17px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Poppins";
}

#logInContainer form #startGameButtons button:hover {
    background-color: #1fb640;
    transition: all .1s ease-in;
}
/*
#player1{
    background-color: #FF64AE;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    position: absolute;
    bottom: 3px;
    left: 2px;
    }
    
    #player2 {
    border-radius: 100px;
    background-color: #3632DB;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 70%;
    left: 19px;
    }
*/
@media (max-width: 1250px) {

    header div h1 {
        font-size: 30px;        
    }

    #board{
        display: none;
        gap: 7px;
        grid-template-columns: 50px 50px 50px 50px 50px;
    }
        
    .box{ 
        padding: 10px;
        font-size: 16px;
    }

    #player1 {
        width: 10px;
        height: 10px;
    }

    #logInContainer form .formContainer label{
        padding: 6px;
        font-size: 20px;
    }

    #logInContainer form .formContainer #inputForm input{
        padding: 5px 15px;
        font-size: 12px;
        border-bottom: 1px solid #1b1b1b;
    }
    
    /*      Seccion PICK A COLOR        */
    #logInContainer form .formContainer .buttonsContainer button{
        padding: 5px;
        margin: 10px;
        width: 25px;
        height: 25px;
        box-shadow: 1px 1px 3px 1px #3f3f3f34;
    }

    #logInContainer form #startGameButtons button {
        margin: 7px;
        font-size: 12px;
        padding: 4px 8px;
    }
}
#gameOver {
    display: none;
   width: 100%;
}

.poppersContainer {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .popperImg{
    width: 20em;

  }
  #popperImgRight {
    transform: rotate(270deg);
  }

  #announcerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


  #announcerContainer div {
    margin: 10px;
  }
  #announcerContainer div h2 {
    font-size: 2em;
    text-align: center;
  }

  #announcerContainer div p {
    font-size: 20px;
  }

  #trophieImg {
    width: 15vw;
  }

  footer {
    width: 100%;
    padding: 14px;
  }

  footer p{
    font-size: 1em;
    margin-left: 2em;
  }
